@import url("//media.readthedocs.org/css/sphinx_rtd_theme.css");

/* Change theme color to LibreCAD's themes */

/* Sidebar header (and topbar for mobile) */
.wy-side-nav-search, .wy-nav-top {
   background: #466522 !important;
}

/* Sidebar */
.wy-nav-side {
   background: #547a29 !important;
   color: #000000;
}

/* Sidebar menu */
.wy-menu-vertical a:hover {
   background-color: #7eb63d !important;
}

/* Sidebar menu options 
.wy-nav .wy-menu-vertical {
    header
        color: #7eb63d;
    a
        color: #f8fbf4;
    &:hover;
        background-color: #f8fbf4;
        color: #000000;
}*/

/* Wrap text in table instead of scollbars */
/* http://knowyourtoolset.com/2018/02/controlling-the-width-of-a-table-with-read-the-docs/ */
/*  Add ":class: table-fix-width" to table definitions */

.table-wrap-text table, th, td {
   /* Wrap text */
   white-space: normal !important;
   /* Set table borders */
   border: 1px solid black;
   /* Striped table 
   tr: nth-child(odd){
      background-color: #f2f2f2 !important;
   }*/
}

/* Old table width fix - to be deleted */
.fix-table td {
   /* Wrap text */
   white-space: normal;
}


/* Table for layout purposes; no border or shading */
.table-no-borders table, th, td {
   /* Wrap text */
   white-space: normal !important;
   /* Remove ALL table borders */
   border: none;
   /* Remove table shading */
   background-color: white;
   /* Align text to top left */
   vertical-align: top;
   text-align: left;
}

/* REF ONLY: Adjusts indent in tables when forcing line break */
/* https://stackoverflow.com/questions/34194728/csv-table-formatting-in-python-docstrings-sphinx-multiple-lines-in-one-cell */


/* Two column for image presentation */
/* https://stackoverflow.com/questions/4550021/working-example-of-floating-image-in-restructured-text/12988688 */

div.leftside {
    width: 400px;
    padding: 0px 0px 0px 0px;
    float: left;
}

div.rightside {
    margin-left: 400px;
}

/* Improve responsive template on wider medium screens
/* to display more content by displaying hamburger menu icon instead of TOC
/* https://stackoverflow.com/a/60217315/4539999

@media screen and (max-width: 950px){
	.wy-body-for-nav{background:#fcfcfc}
	.wy-nav-top{display:block}
	.wy-nav-side{left:-300px}
	.wy-nav-side.shift{width:85%;left:0}
	.wy-side-scroll{width:auto}
	.wy-side-nav-search{width:auto}
	.wy-menu.wy-menu-vertical{width:auto}
	.wy-nav-content-wrap{margin-left:0}
	.wy-nav-content-wrap
	.wy-nav-content{padding:1.618em}
	.wy-nav-content-wrap.shift{position:fixed;min-width:100%;left:85%;top:0;height:100%;overflow:hidden}
}

